<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Garage3</title>
    <!-- Styles -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand  text-light " asp-area="" asp-controller="Vehicles" asp-action="Home">
                    <img src="~/images/parking-icon-Header.png" height="36" />
                    Garage 3.0
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-controller="Vehicles" asp-action="Index" id="navbarDropdownVehicle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Vehicles
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownVehicle">
                                <a class="dropdown-item" asp-controller="Vehicles" asp-action="Registration">Check In Vehicle</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-controller="Members" asp-action="Index" id="navbarDropdownMember" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Members
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMember">
                                <a class="dropdown-item" asp-controller="Members" asp-action="Create">Member Registration</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="VehicleType" asp-action="Create">Create Vehicle Type</a>
                                <a class="dropdown-item" asp-controller="VehicleType" asp-action="Index">View Vehicle Type</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-secondary">
        <div class="container">
            &copy; 2021 - G1 Group AB
        </div>
    </footer>
    <!-- JavaScripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> <!-- Custom JS -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
