@model IEnumerable<Garage3.Models.Entities.Parking>

@{
    ViewData["Title"] = "Index";
}

<h1>ParkedVehicle</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleId)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>
        </tr>
}
    </tbody>
</table>
